################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyHubNotification/v16/Server/sqlite3
/.vs/MyHubNotification/v16
